body {
    margin: 0;
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.login-container {
    background-color: #F9F9F9;
    padding: 80px 60px;
    border-radius: 0px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #35498E;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 0px;
}

.login-btn {
    background-color: #324990;
    color: #fff;
    border: none;
    padding: 10px 120px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #0056b3;
}

.form-link {
    text-align: center;
    margin-top: 15px;
}

.form-link a {
    color: #979797;
    text-decoration: none;
    transition: color 0.3s ease;
    margin: 20px;
}

.form-link a:hover {
    color: #0056b3;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
}

.signup-link a {
    color: #00A2FF;
    text-decoration: none;
    transition: color 0.3s ease;
    margin: 0 10px;
}

.signup-link span {
    color: #979797;
    text-decoration: none;
}

.signup-link a:hover {
    color: #0056b3;
}

.message {
    text-align: center;
    margin-top: 10px;
    color: red;
    opacity: 1;
    transition: opacity 1s;
}

.hide {
    opacity: 0;
}